@color_363c44:#363c44;
@color_8b98a8:#8b98a8;
@color_1e74ff:#1e74ff;
@color_4e78ff:#4e78ff;
@color_4e78ff_a8:rgba(78,120,255,.8);
@color_343c45:#343c45;
@color_c8cdd8:#c8cdd8;
@color_fff:#fff;
@color_ddd:#ddd;
@color_f23244:#f23244;
@color_2988e8:#2988e8;
@color_999:#999;
@color_8f98a5:#8f98a5;
@color_1997ff_a1:rgba(25,151,255,.1);
@color_1997ff:#1997ff;
@color_f49258:#f49258;
@color_f49258_a1:rgba(244,146,88,.1);
@color_44d67f:#44D67F;
@color_44d67f_a1:rgba(68,214,127,.1);
@color_2d6fb4:#2d6fb4;
@color_2d6fb4_a1:rgba(45,111,180,.1);
@color_d8d8d8:#d8d8d8;
@color_ff5151:#ff5151;
@color_8499ab:#8499ab;
@color_283d4a:#283d4a;
@color_f9f9f9:#f9f9f9;
@color_eee:#eee;
@color_ffcb39:#ffcb39;
@color_c8ccd8:#c8ccd8;
@color_4778ff:#4778ff;
@color_666699:#666699;
@color_adbfff:#adbfff;
@color_333:#333;
@color_adbfff:#adbfff;
@color_f7f7f7:#f7f7f7;
@color_333_a8:rgba(51,51,51,.8);
@color_eaa780:#eaa780;
@color_f6f8ff: #f6f8ff;
@color_000_a3:rgba(0,0,0,.3);
@color_ff5151: #ff5151;
@color_767c84: #767c84;
@color_000_a1:rgba(0,0,0,0.1);
@color_000_a3:rgba(0,0,0,0.3);
@color_f6f8ff:#f6f8ff;
@color_ced4de: #ced4de;
